.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.char {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 2px solid rgb(103, 181, 103);
    background-color: rgb(103, 181, 103);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0px;
    width: 500px;

}

.btn {
    background-color: rgb(104, 189, 104);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.btn:hover {
    opacity: 0.8;
}