/* align items center */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 10px;
}

.header li:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}